ABOUT-NLS
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.h.in~
config.log
config.rpath
config.status
config.sub
configure
depcomp
.deps/
install-sh
Makefile
Makefile
Makefile.in
missing
*.o
*.src.rpm
stamp-h1
*.tar.gz
tconsole
utils/Makefile
utils/Makefile.in
