/aclocal.m4
/autom4te.cache/
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/depcomp
/.deps/
/install-sh
/Makefile
/Makefile.in
/missing
/*.o
/stamp-h1
/tconsole
/utils/Makefile
/utils/Makefile.in
/Makefile
*.src.rpm
*.tar.gz
